<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Tweet App</h1>
      <span class="menu-spacer"></span>
      <div>
        <!-- <a mat-button [routerLink]="'/login'"> Log In </a>
        <a mat-button [routerLink]="'/register'"> Create Account </a> -->
        <a mat-button [routerLink]="'/tweets'"> All Tweets </a>
        <a mat-button [routerLink]="'/my-tweets'"> My Tweets </a>
        <a mat-button [routerLink]="'/all-users'"> All Users </a>
        <a mat-button [routerLink]="'/logout'"> Logout </a>
  
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">See what is happening around</span>
      </mat-toolbar-row>
  </mat-toolbar>