<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Tweet App</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/tweets'"> All Tweets </a>
        <a mat-button [routerLink]="'/my-tweets'"> My Tweets </a>
        <a mat-button [routerLink]="'/all-users'"> All Users </a>
        <a mat-button (click)="logOut()"> Logout </a>
  
      </div>
    </mat-toolbar-row>
  
    <mat-toolbar-row>
        <span style="font-size: 12px;">Welcome to Tweet Application.</span>
      </mat-toolbar-row>
  </mat-toolbar>