<div>
  <form [formGroup]="searchUserForm">
    <p>
      <mat-form-field>
        <input type="text" matInput id="searchUserInput" name="searchUserInput" placeholder="Search User..." formControlName="searchUserInput" required=true>
      </mat-form-field>
      <button mat-button [disabled]="searchUserForm.invalid" (click)="searchUser()">Search</button>
    </p>
  </form>
</div>

<mat-card *ngFor="let list of users" class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{list.name}}</mat-card-title>
      <mat-card-subtitle>{{list.username}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions>
      <button mat-button (click)="viewTweets(list.username)">View Tweets</button>
    </mat-card-actions>
  </mat-card>