<mat-card>
  <mat-card-title>Create Account</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Username" formControlName="username" required=true>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="First Name" formControlName="firstName" required=true>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Last Name" formControlName="lastName" required=true>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="email" matInput placeholder="Email Id" formControlName="email" required=true
            pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" [errorStateMatcher]="matcher">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="Phone Number" formControlName="phoneNumber" required=true
            minlength="10" maxlength="10" [errorStateMatcher]="matcher">
        </mat-form-field>
      </p>

      <p>
        <mat-form-field class="m-t-4">
          <mat-label>Password</mat-label>
          <input matInput [type]="passwordVisibilty ? 'text' : 'password'" formControlName="password" minlength="8"
            [errorStateMatcher]="matcher" />
          <span matSuffix class="pointer-cursor view-pswd" mat-icon-button
            (click)="passwordVisibilty = !passwordVisibilty">
            <ng-container *ngIf="!passwordVisibilty; else pwdVisibleTmpl">
              <mat-icon>visibility_off</mat-icon>
            </ng-container>
            <ng-template #pwdVisibleTmpl>
              <mat-icon>visibility</mat-icon>
            </ng-template>
          </span>
        </mat-form-field>
      </p>

      <p *ngIf=" error" class="error">
        {{ error }}
      </p>

      <div class="button">
        <button type="submit" [disabled]="form.invalid" (click)="signUpUser()" mat-button>Create</button>
      </div>
      <div class="button">
        <button type="submit" [routerLink]="'/login'" mat-button>Have a account ? Click to Sign In</button>
      </div>

    </form>
  </mat-card-content>
</mat-card>